.card {
  display: flex;
  max-width: 100%;
  width: 100%;
}
.displayPost {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  width: 100%;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nameSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}
.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.4rem;
  display: inline;
}
.right {
  margin-right: 0.5rem;
}
.more {
  color: rgba(28, 30, 33, 1);
  cursor: pointer;
}
.right:hover {
  background-color: var(--lighter-grey);
}
.content {
  width: 100%;
  padding: 0.5rem;
  border: 0.7px solid var(--lightest-gey-4);
  border-radius: 5px;
}
