.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nameSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.more {
  color: rgba(28, 30, 33, 1);
  cursor: pointer;
}
.right:hover {
  background-color: var(--lighter-grey);
}
