* {
  box-sizing: border-box;
}
:root {
  --border-radius-search: 25px;
  --lighter-grey: rgb(240, 242, 245);
  --background-color-search: var(--lighter-grey);
  --lightest-grey-2: rgb(239, 230, 230);
  --lightest-grey-1: rgb(245, 245, 245);
  --lightest-grey-3: rgb(245, 243, 245);
  --lightest-gey-4: rgb(220, 220, 220);
  --light-grey: rgb(206, 203, 203);
  --grey: rgb(143, 143, 143);
}
.btn {
  border: none;
  outline: none;
  padding: 0.3rem;
}
/* ****************NAVBAR COMPONENT**************** */
/* general css for navbar */
.navbar {
  margin: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  border-bottom: 1px solid yellow;
}
.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}
li {
  margin: 0.8rem 0.8rem;
  font-size: 1.5rem;
  display: inline-block;
}
/* -------left (side if navbar)------ */
.left {
  margin: 0px;
  display: flex;
  height: 100%;
  justify-content: left;
  padding: 0px;
  border: 1px solid red;
}
.search-container-inmenu {
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

i.search-icon {
  align-self: center;
  font-size: 1rem;
  color: var(--grey);
  margin-right: -1.4rem;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}
.search {
  line-height: 100%;
  height: 100%;
  border-radius: var(--border-radius-search);
  outline: none;
  border: none;
  background-color: var(--background-color-search);
  padding: 0.5rem 1.8rem;
}

/* ----center---- */
.center {
  height: 100%;
  width: 50%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  border: 1px solid blue;
  color: var(--grey);
}

.home-inmenu,
.friends-inmenu,
.watch-inmenu,
.market-inmenu,
.gaming-inmenu {
  width: 100%;
  font-size: 1em;
}

/* ----right---- */
.right {
  margin: 0px;
  height: 100%;
  border: 1px solid green;
}
.profile-btn {
  border-radius: var(--border-radius-search);
}
.profile-btn-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

/* *******************footer********************** */
footer {
  position: absolute;
  bottom: 0px;
}
